alembic
asgiref==3.8.1
bcrypt
blinker
Flask
Flask-Bcrypt
Flask-Login
Flask-Markdown==0.3
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
gunicorn==23.0.0
Jinja2
Markdown==3.8
MarkupSafe
matplotlib==3.9.2
numpy
pandas
python-dotenv==1.1.0
SQLAlchemy
Werkzeug
WTForms==3.2.1
